@font-face {
  font-family: abster;
  src: url(../sucoding_design_house/font/abster-webfont.woff) format('woff') 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container .header{
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.container .header h1 a{
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-family: abster;
}
.container .nav ul li{
  display: inline-block;
  margin:20px 20px;
}
.container .nav ul li a{
  text-decoration: none;
  color: whitesmoke;
  margin:20px 20px;
}
.container .nav ul li a:hover{
  color: #c48b9f;
}
body{
  background-color: black;
}
h3{
  font-size: 28;
  color: #c48b9f;
  margin:100px 100px;
}
.imglist{
  display: grid; 
  /* grid-template-columns: 1fr 1fr 1fr; repeat(3,1fr)*/
   grid-template-areas:
   'a b'
   'c d';
  grid-gap: 5rem;
  margin: 200px 200px;
}
.imglist img{
  size: 1200px 1200px;
}
.image{
  width:100%;
  height:100%;
}
.img1{grid-area: a;}
.img2{grid-area: b;}
.img3{grid-area: c;}
.img4{grid-area: d;}

footer{
  background-color: #eceff1;
  color: black;
  text-align: center;
}
footer img{
  width: 30px; height: 30px;
  display: inline;
}




